@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@500&family=Lora:ital,wght@1,600&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;1,500&family=Roboto:wght@500&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

@font-face {
    font-family: 'MinhaFonte1';
    src: url('./assets/fonts/Haunted\ Hospital.otf') format('truetype');
}

@font-face {
    font-family: 'MinhaFonte2';
    src: url('./assets/fonts/October\ Crow.ttf') format('truetype');
}

@font-face {
    font-family: 'MinhaFonte3';
    src: url('./assets/fonts/Vampire\ Zone.ttf') format('truetype');
}

@font-face {
    font-family: 'MinhaFonte4';
    src: url('./assets/fonts/Decorative\ font\ Tree\ Night.ttf') format('truetype');
}

@font-face {
    font-family: 'MinhaFonte5';
    src: url('./assets/fonts/Coraline\'s\ Cat.otf') format('truetype');
}

@font-face {
    font-family: 'MinhaFonte6';
    src: url('./assets/fonts/BloodScratchPersonalUse.ttf') format('truetype');
}

html, body {
    margin: 0;
}
body {
    background-color: #944891;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.menu{
    z-index: 7;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-left: 820px;
    margin-top: 50px;
}

.container-menu li{
    padding: 10px 15px; /* Espaçamento interno em cada item */
}

.container-menu li a{
    text-decoration: none;
    color: rgb(244, 231, 244);
    font-family: 'MinhaFonte3', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(130, 130, 130, 0.35);
}

.hover-menu:hover{
    border: 2px solid rgb(231,237,244);
    padding: 2px 6px;
    border-radius: 3px;
    text-shadow: 1px 1px 2px rgba(130, 130, 130, 0.4);
}

.header {
    position: relative;
    min-height: 140px;
    background: #411a47;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.imagem {
    position: absolute;

}
.logo {
    width: 90px;
    top: 30px;
    margin-left: 220px;
    z-index: 10;
    filter: drop-shadow(2px 2px 7px rgba(48, 48, 48, 0.3));
}

.capa-titulo1{
    z-index: 4;
    top: 10px;
    margin-left: 340px;
    font-family: 'MinhaFonte5', sans-serif;
    font-size: 22px;
    color: rgb(231,237,244);
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

.capa-titulo2{
    z-index: 5;
    top: 70px;
    margin-left: 340px;
    font-family: 'MinhaFonte3', sans-serif;
    font-size: 16px;
    color: rgb(231,237,244);
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.teia{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    margin-top: -15px;
}

.content {
    position: relative;
    min-height: 300px;
    padding: 30px;
    margin-top: 0px; 
}

.citacao, .citacao-nome {
    position: relative;
    z-index: 2;
}

.citacao{
    margin: 50px 350px 50px 350px;
    font-size: 20px;
    font-family: 'MinhaFonte6', serif;
    font-weight: 600;
    text-align: center;
}

.citacao-nome{
    font-weight: 800;
    font-size: 25px;
}

.content-metodo {
    display: flex;
    justify-content: space-between;
    background-color: #944891;
    min-height: 300px;
    padding: 20px;
    margin-top: -100px;
}

.citacao-metodo{
    margin: 0px 350px 0px 350px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
}

.citacao-nome-metodo{
    font-weight: 800;
    font-size: 19px;
}

.coluna-texto-metodo {
    flex: 1;
    margin-left: 200px;
    margin-right: 20px;
}

.coluna-imagem-metodo {
    flex: 2;
    margin-right: -740px;
}


.imagem-metodo{
    height: 240px;
    width: 380px;
    border-radius: 9px;
    -webkit-box-shadow: 1px 0px 4px 0px rgba(79,79,79,0.44);
    -moz-box-shadow: 1px 0px 4px 0px rgba(79, 79, 79, 0.44);
    box-shadow: 1px 0px 4px 0px rgba(79, 79, 79, 0.44);
    margin-top: 90px;

}

.titulo-metodo{
    text-align: center;
    color: rgb(40, 40, 40);
    font-family: 'MinhaFonte3', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
}

.texto-metodo{
    font-family: 'MinhaFonte3', sans-serif;
    color: rgb(40, 40, 40);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    text-align: justify;
    margin-bottom: 80px;
}




.content-doshas {
    display: flex;
    justify-content: space-between;
    background-color: #944891;
    min-height: 300px;
    padding: 20px;
    margin: -80px 200px 0px 190px;
}

.coluna-texto-doshas {
    flex: 1;
    padding: 10px;
}


.footer{
    background-color: #1f0627;
    min-height: 150px;
}

.colunas-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px; 
    margin-bottom: 20px;
}

.coluna-footer1 {
    flex: 1;
    margin-left: 220px;
}

.logo-footer{
    width: 90px;
    filter: drop-shadow(2px 2px 7px rgba(48, 48, 48, 0.3));
}
.slogan-footer{
    margin-top: 15px;
    font-family: 'MinhaFonte5', serif;
    font-size: 10px;
    color: rgb(231,237,244);
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(122, 122, 122, 0.4);
}

.endereco-titulo-footer, .contato-titulo-footer{
    color: rgb(244, 243, 243);
    font-family: 'MinhaFonte3', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-shadow: 2px 2px 4px rgba(94, 94, 94, 0.5);
}

.endereco-footer, .telefone-footer, .email-footer{
    color: rgb(244, 243, 243);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    
}
.endereco{
    margin-top: 20px;
    margin-bottom: 30px;
}

.linha-icons{
    margin-top: 25px;
    margin-bottom: 20px;
    opacity: 0.4;
    color: rgb(81, 81, 81);
}

.icones-footer{
    display: flex;
    justify-content:baseline;
}

.imagem-icon{
    height: 25px;
    margin-right: 18px;
}

.coluna-footer2 {
    flex: 2;
}

.mapa{
    margin: 90px 170px 0px 130px;
}

.linha-copyright{
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.4;
    color: rgb(81, 81, 81);
}

.texto-copyright{
    text-align: center;
    color: rgb(244, 243, 243);
    font-size: 16px;
    opacity: 0.9;
}





